
<div class="user-show">

<h1>Edit your Idea!</h1>
</div>
<br>
<br>
<%= form_for [@user, @idea] do |f| %>

<%= f.text_field  :title, placeholder: "#{@idea.title}" %>
<%= f.collection_select :category_id, Category.order(:name), :id, :name, include_blank: true%>
<br>
<% @pictures.each do |picture| %>
<div class="picture-card-<%=picture.id%>">
  <%= image_tag(picture.image.url, alt: 'Image', height: 150, width: 150) if picture.image? %>
  <%= check_box_tag 'picture_ids[]', picture.id -%>a
</div>
<% end %>
<%= f.submit "Edit Idea", :class => "create_idea_button"%>
<% end %>
