<!DOCTYPE html>
<html>
  <head>
    <title>IdeaBox</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.scss">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class= "nav-bar">
      <%= link_to image_tag("logo.png", width:120, height:120), root_path %>
      <% if session[:user_id].nil? %>
        <div class="nav-links" >
          <%= link_to "Create Account", new_user_path %>
        </div>
        <div class="nav-links" >
          <%= link_to "Login", login_path %>
        </div>
      <% else %>
        <div class="nav-links" >
          <%= link_to "Log out", logout_path %>
        </div>
      <% end %>
    </nav>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
    <%= yield %>
  </body>
</html>
